/* popup content */
.popup .popup-header {
    background-color: #e9ecef;
    padding-left: 4px;
    padding-right: 4px;
}
.popup .popup-content {
    padding: 4px;
}
.popup .popup-content.scrollable {
    /* requires to use a handle, otherwise the elements will not be movable in a mobile view */
    overflow-y: auto;
}
