#app {
    min-width: min(1280px, 100%);
    min-height: min(640px, 100%);
    padding: 16px;
    box-sizing: border-box;
}

.number {
    padding: 22px 32px;
    text-align: center;
    user-select: none;
}

button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid darkgray;
    outline: none;
}
button:active {
    padding: 7px;
    border: 2px solid darkgray;
}
